.css-1yb0leh-MuiTypography-root {
  display: flex;
}
.link {
  color: white;
  text-decoration: none;
}
.link2 {
  color: balck;
  text-decoration: none;
}
.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
  margin-top: 64px;
}
