.text {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
div > a {
  text-decoration: none;
}
.dashBtn {
  color: black;
}

@media only screen and (min-width: 425px) {
  .css-1w7uhy5 {
    margin-left: 0;
  }
}
