.bgImage {
  background-image: url();
  height: 550px;
  background-position: right;
  background-size: contain;
  margin-top: 15px;
}
.textBg {
  background-color: rgba(2, 2, 46, 0.39);
  padding: 20px;
  margin-top: 100px;
  margin-left: 50px;
}
.droneImage {
  width: 100%;
  margin-left: 70px;
  margin-top: -20px;
}
.heading {
  font-weight: bold;
}
.button {
  padding: 10px 10px;
  background-color: #900c3e;
  border-radius: 7px;
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .heading {
    font-size: 14px;
  }
  .droneImage {
    display: none;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
